<div class="transparent-content">
  <div class="jumbotron center-sized">
    <h1 class="display-4">Left Field Labs!</h1>
    <p class="lead">
      This project is yet young and we are doing all we can to wow all our
      clients while making traveling blissful.
      <Strong>Our Address: 10351 Washington Blvd, Culver City, CA 90232</Strong></p>
    <hr class="my-4">
    <p>For more information contact us by mailing Lynn Ventura | Stephanie Shrewsbury</p>
    <a class="btn btn-primary btn-lg" href="mailto:stephanie.shrewsbury@leftfieldlabs.com" role="button">Mail Us Now</a>
    <a class="btn btn-info btn-lg btn-back only-on-phone" href="#" routerLink="home" role="button">Back</a>
  </div>
</div>
