@import "src/styles";

@mixin on-small-devices($width){
  .fixed-width{
    max-width: $width;
  }

  a.only-on-phone {
    margin-top: 10px;
  }

  .client-content-carousel, img{
    width: $width;
  }

  .title{
    font-size: 14px !important;
  }
}

.title{
  //color: lightblue;
  background-color: rgba(0,0,0,0.7);
}

.centered{
  .fixed-width{
    max-width: 550px;
  }
}

@include device(phone){
  @include on-small-devices(300px);
}

@include device(tablet){
  @include on-small-devices(400px);
}
