@import "src/styles";

.right-content{
  float: right;
  padding: 10px 10px 10px 40px;
  width: 370px;

  a.active{
    color: darkblue !important;
  }

  p{
    font-size: 12px;
    color: #bfbfbf;
    text-wrap: normal;
    text-align: right;
  }

  h2{
    color: $white-color;
    text-align: right;
  }

  @include device(phone){
    @include madeCentered;
  }

  @include device(tablet){
    @include madeCentered;
  }
}
