<div class="row">
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-6">
    <div class="transparent-content">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Per Tour</h3>
          <p class="card-text">This plan cost $3000 USD. We offer you our best services and you will pay us per tour as you go. </p>
          <a href="#" class="btn btn-primary">Tour Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-6">
    <div class="transparent-content">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Life Time</h3>
          <p class="card-text">With just $8000 we offer you a life long service with optimal services and you don't need to worry what route will cost less.</p>
          <a href="#" class="btn btn-primary">Tour Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="only-on-phone">
    <hr/>
    <a class="btn btn-info btn-lg btn-block" href="#" routerLink="home" role="button">Back</a>
  </div>
</div>
