@import "src/styles";

.left-content{
  float: left;
  padding: 40px 10px 10px 10px;
  width: 300px;

  .only-on-phone{
    margin-bottom: 20px;
  }

  p{
    font-size: 12px;
    color: #bfbfbf;
    text-wrap: normal;
    text-align: left;
  }

  h3{
    color: $white-color;
  }

  @include device(phone){
    @include madeCentered;
    .block{
      width: 100% !important;
    }
  }

  @include device(tablet){
    @include madeCentered;
    .block{
      width: 100% !important;
    }
  }
}
