<div class="input-view-content">
  <form>
    <div class="row">
      <div class="col-sm col-lg col-md col-xl">
        <div>
          <div class="row">
            <div class="col-sm col-lg col-md col-xl">
              <div class="form-group">
                <label for="x_axis">X Axis</label>
                <input (ngModelChange)="changed()" [(ngModel)]="x_axis" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="x_axis" placeholder="x">
              </div>
            </div>
            <div class="col-sm col-lg col-md col-xl">
              <div class="form-group">
                <label for="y_axis">Y Axis</label>
                <input (ngModelChange)="changed()" [(ngModel)]="y_axis" [ngModelOptions]="{standalone: true}" type="number" class="form-control" id="y_axis" placeholder="y">
              </div>
            </div>
            <div class="col-sm col-lg col-md col-xl">
              <div class="form-group">
                <label for="add_button">Add Now</label><br/>
                <button id="add_button" type="button" (click)="addPoint($event)" class="btn btn-primary">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm col-lg col-md col-xl">
        <div class="form-group">
          <label for="points-view">Points View</label>
          <input type="text" [(ngModel)]="string_routes_inputs" [ngModelOptions]="{standalone: true}" class="form-control" id="points-view" placeholder="Route Points" aria-describedby="help" />
          <small id="help" class="form-text text-muted">You can also write/paste your points directly in here.</small>
        </div>
      </div>
    </div>
    <div class="d-inline-block">
      <div class="form-group form-group-inline">
        <label for="optimizer_type">Optimization Options: </label>
        <div id="optimizer_type">
          <div class="form-check form-check-inline">
            <input (change)="setOptimalOption(true)" type="radio" class="form-check-input" name="optimal" id="optimal" [checked]="hasOptimalOption"/>
            <label class="form-check-label" for="optimal">
              Get Optimal Routes
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" (change)="setOptimalOption(false)" class="form-check-input" name="good" id="good" [checked]="!hasOptimalOption"/>
            <label class="form-check-label" for="good">
              Get Good Routes
            </label>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <ngb-alert *ngIf="showAlert" [type]="alert.type" (closed)="closeAlert()">{{ alert.message }}</ngb-alert>
    <button type="button" (click)="optimize($event)" class="btn btn-primary btn-block">Optimize Now</button>
  </form>
</div>
